<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../../css/mystyle.css">
    <script src="https://vincentgbs.github.io/react-simple/lib/react.min.js"></script>
    <script src="https://vincentgbs.github.io/react-simple/lib/react-dom.min.js"></script>
    <script src="https://vincentgbs.github.io/react-simple/lib/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>

    <script src="AwesomeHeader.js" type="text/babel"></script>
    <script src="MainContent.js" type="text/babel"></script>
    <script src="AwesomeFooter.js" type="text/babel"></script>
    <script src="App.js" type="text/babel"></script>

    <script type="text/babel">
        ReactDOM.render(
            <App />,
            document.getElementById("root")
        );
    </script>
</body>
</html>
